.lockOpen {
    transform: translateY(100%);
}
.lock {
    transition: 0.3s all ease-in;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: $background;
    z-index: 3;
    position: relative;

    .lockHeader {
        padding-top: 42px;
        padding-right: 42px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        .btnSettings {
            background: $backgroundLight;
            width: 63px;
            height: 63px;
            border-radius: 50%;
            position: relative;
            box-shadow: 7px 7px 30px #1f2427, -7px -7px 30px #485057;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 18px;
                height: 18px;
                transform: translate(-50%, -50%);
            }
        }
    }
    .lockTitle {
        text-align: center;
        margin-top: 10px;
        h1 {
            letter-spacing: 0.02em;
            text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
        }
    }
    .car {
        width: 100%;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 1000%, 0% 100%);
        margin-bottom: 130px;
        .km {
            font-style: normal;
            font-weight: 300;
            line-height: 216px;
            letter-spacing: 0.02em;
            color: $white;
            position: relative;
            width: 100%;
            text-align: center;
            font-size: 150px;
            margin-bottom: 0px;
            margin-top: 0px;
            p {
                margin-top: 0px;
                margin-bottom: 0px;
            }
            sup {
                margin-right: 35px;
                position: absolute;
                top: 38px;
                right: 0;
                font-size: 24px;
                font-weight: 500;
            }
        }
        img:nth-child(2) {
            left: 70px;
            top: 90px;
            width: 50%;
            animation: light 3s ease  infinite ;
        }

        img {
            top: 100px;
            left: 147px;
            width: 75%;
            position: absolute;
        }
    }
    .lockFooter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        .btnLock {
            transition: 0.3s ease all;
            background: $blue;
            width: 105px;
            height: 105px;
            border-radius: 50%;
            position: relative;
            margin-top: 15px;
            filter: drop-shadow(0px 0px 10px rgba(99, 207, 255, 0.5)) drop-shadow(0px 0px 25px rgba(38, 171, 247, 0.2));
            border: 1px solid #016bb8;
            -webkit-box-shadow: 10px 15px 40px #000000, -10px -15px 40px #2f393d;
            box-shadow: 10px 15px 40px #000000, -10px -15px 40px #2f393d;
            &:hover,
            &:active {
                filter: grayscale(1);
                transform: scale(1.2);
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        p {
            font-weight: 500;
            color: $white;
        }
    }
}


@keyframes light {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}