@import "variables.scss";
@import "normalize.scss";
@import "base.scss";
@import "font.scss";
@import "lock.scss";
@import "index.scss";

body {
    // border: black 1px solid;
    // border-radius: 50px;
    overflow: hidden;
    main {
        overflow: hidden;
        position: relative;
    }
}

.ac {
    transition: all 0.1s linear;
    position: fixed;
    width: 100%;
    height: 130px;
    bottom: -3%;
    background: #272a30;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    border: rgba(66, 71, 80, 1) 2px solid;
    &:after {
        content: "";
        width: 100%;
        background: #272a30;
        height: 3px;
        position: absolute;
        bottom: 0;
    }
    .acHeader {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &:after {
            box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            content: "";
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #17181c;
            height: 4px;
            width: 15%;
        }
        div:nth-child(1) {
            margin-left: 40px;
            margin-top: 25px;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p,
            h4 {
                margin: 0;
            }
            p {
                margin-top: 8px;
                color: $grey;
                max-width: 215px;
            }
        }
        .btnOnActive {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }
        .btnOn {
            transition: all 1s ease;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-right: 40px;
            position: relative;
            z-index: 1;
            background: linear-gradient(320.66deg, #016bb8 14.75%, #11a8fd 84.81%);
            border: 1px solid #016bb8;
            box-shadow: 10px 15px 40px #000000, -10px -15px 40px #2f393d;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
            }
        }
    }
    .acContent {
        width: 100%;
        position: absolute;
        background: #272a30;
        outline: rgba(66, 71, 80, 1) 2px solid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .degre {
            width: 100%;
            display: flex;
            justify-content: center;
            .outerCircle {
                z-index: 2;
                background: linear-gradient(318.21deg, #202428 14.05%, #131314 85.29%);
                box-shadow: 20px 20px 70px #141415, -20px -20px 70px #485057;
                width: 250px;
                height: 250px;
                border-radius: 1000px;
                position: relative;
                #container {
                    position: absolute;
                    width: 215px;
                    height: 215px;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    &:after {
                        content: "";
                        position: absolute;
                        width: 215px;
                        height: 215px;
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        box-shadow: inset 0px 1px 3px rgba(170, 187, 222, 0.542887);
                    }
                    .progressbar-text {
                        color: rgb(255, 255, 255);
                        text-align: center;
                        top: 30%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        position: absolute;
                        font-weight: 900;
                        font-size: 40px;
                    }
                    .temp {
                        &::first-line {
                            font-weight: 900;
                            font-size: 40px;
                        }
                        color: $white;
                        font-size: 18px;
                        text-align: center;
                        top: 30%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        position: absolute;
                    }
                }
            }
        }

        .speed {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .speedSetting {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .speedNumbers {
                    display: flex;
                    justify-content: space-between;
                    width: 90%;
                    color: $grey;
                    font-size: 14px;
                }
                .speedBar {
                    position: relative;
                    width: 90%;
                    height: 9px;
                    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.75), inset -2px -2px 2px #4e5154;
                    border-radius: 100px;
                    margin-bottom: 50px;
                    .innerDiv {
                        width: 25%;
                        position: absolute;
                        height: 6px;
                        background: linear-gradient(
                                180deg,
                                rgba(0, 0, 0, 0.02) 48.67%,
                                rgba(255, 255, 255, 0.04) 59.86%
                            ),
                            linear-gradient(89.97deg, #016bb8 2.65%, #0782db 30.1%, #0f9ceb 59.17%, #11a8fd 101.95%);
                        border-radius: 100px;
                        top: 50%;
                        left: 0;
                        transform: translate(0%, -50%);
                    }
                    .barCircle {
                        top: 50%;
                        left: 25%;
                        position: absolute;
                        width: 28px;
                        height: 28px;
                        background: linear-gradient(320.66deg, #141515 14.75%, #2e3236 84.81%);
                        border: 1px solid #282b2e;
                        box-sizing: border-box;
                        box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.35);
                        border-radius: 30px;
                    }
                }
            }
        }

        .mode {
            transition: 1s ease all;
            h4 {
                text-align: center;
                margin-top: 0px;
                margin-bottom: 24px;
            }

            .btnMode {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 32px;
                div {
                    width: 72px;
                    p {
                        text-align: center;
                        width: 100%;
                        margin-bottom: 16px;
                        margin-top: 0;
                        color: $grey;
                    }
                    div {
                        width: 72px;
                        height: 72px;
                        border-radius: 100px;
                        position: relative;
                        background: linear-gradient(320.66deg, #2f353a 14.75%, #1c1f22 84.81%);
                        box-shadow: 14px 14px 40px rgba(16, 16, 18, 0.75), -7px -7px 30px #262e32;
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }
}

.btnModeActive {
    transform: scale(0.9);
    border: red 1px solid;
    filter: sepia(100%) hue-rotate(165deg) saturate(500%);
}

