@import "variables.scss";
@import "normalize.scss";
@import "base.scss";
@import "font.scss";
@import "lock.scss";
@import "index.scss";

body {
    // border: black 1px solid;
    // border-radius: 50px;
    overflow: hidden;
    main {
        overflow: hidden;
        position: relative;
    }
}

.ac {
    position: fixed;
    width: 100%;
    height: 130px;
    bottom: 0;
    background: #272a30;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    border: rgba(66, 71, 80, 1) 2px solid;
    &:after {
        content: "";
        width: 100%;
        background: #272a30;
        height: 3px;
        position: absolute;
        bottom: 0;
    }
    .acHeader {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &:after {
            box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            content: "";
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #17181c;
            height: 4px;
            width: 15%;
        }
        div:nth-child(1) {
            margin-left: 40px;
            margin-top: 25px;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p,
            h4 {
                margin: 0;
            }
            p {
                margin-top: 8px;
                color: $grey;
                max-width: 215px;
            }
        }
        .btnOn {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-right: 40px;
            position: relative;
            z-index: 1;
            background: linear-gradient(320.66deg, #016bb8 14.75%, #11a8fd 84.81%);
            border: 1px solid #016bb8;
            box-shadow: 10px 15px 40px #000000, -10px -15px 40px #2f393d;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
            }
        }
    }
    .acContent {
        width: 100%;
        height: 100vh;
        position: absolute;
        background: #272a30;
        outline: rgba(66, 71, 80, 1) 2px solid;
        .degre {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            .outerCircle {
                z-index: 2;
                background: linear-gradient(318.21deg, #202428 14.05%, #131314 85.29%);
                box-shadow: 20px 20px 70px #141415, -20px -20px 70px #485057;
                width: 250px;
                height: 250px;
                border-radius: 1000px;
                position: relative;
                #container {
                    position: absolute;
                    width: 215px;
                    height: 215px;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    &:after {
                        content: "";
                        position: absolute;
                        width: 215px;
                        height: 215px;
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        box-shadow: inset 0px 1px 3px rgba(170, 187, 222, 0.542887)
                    }
                    .progressbar-text {
                        color: rgb(255, 255, 255);
                        text-align: center;
                        top: 30%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        position: absolute;
                        font-weight: 900;
                        font-size: 40px;
                    }
                    .temp {
                        &::first-line {
                            font-weight: 900;
                            font-size: 40px;
                        }
                        color: $white;
                        font-size: 18px;
                        text-align: center;
                        top: 30%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        position: absolute;
                    }
                }
            }
        }
    }
}
