$blue:linear-gradient(318.21deg, #11A8FD 14.05%, #0081C9 85.29%);
$background: linear-gradient(180deg, #353A40 0%, #16171B 100%);
$backgroundLight:linear-gradient(180deg, #353A40 -59.6%, #16171B 96.87%);
$white:#FDFDFD;
$grey:#7F8489;